html, body {
    margin: 0;
    padding: 0;
}

body{
    background: url(/assets/img/laurel.png) repeat;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
}

h1, h2{
    color: $accent-color;
}

.container {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;

    @media screen and (max-width: 991px){
        width:80%;
    }

}

