// $blue: #1b3556;
// $torquoise: #66a497;
// $green: #819965;
// $cream:#f8f5d2;
// $beige: #e9ca94;


// THEME COLORS
$primary-color: #e9ca94;
$accent-color: #1b3556;
$text-color:#666666;
$hover-color: #819965;

